@{
    ViewData["Title"] = "Cliente";
}

<div class="">
    <h1 class="display-4">CLIENTE</h1>
    <h2>Cadastro do Cliente</h2>
    
   <div class="row">
       <form>
           <div class="col-4">
               <label class="label-form">Nome</label>
               <input type="text" id="txtnome" class="form-control" />
           </div>
            <div class="col-6">
                <label class="label-form">Endereco</label>
                <input type="text" id="txtende" class="form-control" />
            </div>
            <div class="col-6">
                <label class="label-form">Bairro</label>
                <input type="text" id="txtende" class="form-control" />
            </div>
            <div class="col-form-label-lg">
                <button type="submit" class="btn btn-primary">Gravar</button>
            </div>
       </form>
   </div>
</div>
